---
# Initial Server Setup
remote_user: exam

# MySQL Setup
mysql_root_password: NEW_PASSWORD
mysql_app_db: laravel
mysql_app_user: exam
mysql_app_pass: NEW_PASSWORD

# Web Server Setup
# http_host: "{{ ansible_facts.eth0.ipv4.address }}"
http_host: "ansible-test.olmofe.live"
remote_www_root: /var/www
app_root_dir: travellist-demo
document_root: "{{ remote_www_root }}/{{ app_root_dir }}/public"

# Laravel Env Variables
app_name: Travellist
app_env: dev
app_debug: true
app_url: "http://{{ http_host }}"
db_host: localhost
db_port: 3306
db_database: "{{ mysql_app_db }}"
db_user: "{{ mysql_app_user }}"
db_pass: "{{ mysql_app_pass }}"